<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <table id="hours-table" class="table table-striped">
      <tr>
        <td><b>Activity Type</b></td>
        <td><b>Duration (minutes)</b></td>
        <td><b>Intensity</b></td>
      </tr>
      <% for (var i = 0; i < 0; i++) { %>
        <tr>
          <td><%= activities[i].type %></td>
          <td><%= activities[i].duration %></td>
          <td><%= activities[i].intensity %></td>
        <tr>
      <% } %>
    </table>
  </div>
</div>
